#knowledge {
    display: flex;
    width: 50rem;
    height: 17rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    align-items: center;
    margin: 2rem;
    padding: 1.8rem;

    gap: 1rem;
}


#knowledge img {
    width: 8rem;
    height: 11rem;
    margin: 2.4rem;
}

#knowledge .knowledge-info h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

#knowledge .knowledge-info h3 {
    font-size: 1.7rem;
    font-weight: 400;
    color: #8695a4;
    margin-bottom: 1rem;
}

#knowledge .knowledge-info p {
    text-align: justify;
}

@media screen and (min-width: 65rem) and (max-width: 80rem) {
    
}

@media screen and (min-width: 80rem) and (max-width: 128.125rem) {
    
}