#knowledge {
    display: flex;
    width: 100rem;
    height: 17rem;
    background-color: rgba(1, 1, 1, 0.2);
    border-radius: 1rem;
    align-items: center;
    margin: 2rem;

    gap: 1rem;
}

article img {
    width: 9rem;
    height: 12rem;
    margin: 2.4rem;
}

#knowledge .knowledge-infos h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

#knowledge .knowledge-infos h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #8695a4;
    margin-bottom: 1rem;
}

#knowledge .knowledge-infos p {
    font-size: 1.6rem;
}