 #project {
    display: flex;
    height: 17rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    align-items: center;
    margin: 2rem;
    padding: 1.8rem;

    gap: 1rem;
}

#project {
    width: 75rem;
}

#project, h2 {
    color: #fff;
}

#project img {
    width: 8rem;
    height: 8rem;
    margin: 1rem;
}

#project img:hover {
    width: 9rem;
    height: 9rem;
    transition: 0.25s ease-in-out;
}
