* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    width: 100%;
}

body {
    background-color: #222222;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

h2 {
    color: lightblue;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.intro {
    width: 100%;
    padding: 1rem;
    margin: 2.5rem 2rem 2rem 2rem;
    align-items: center;
    flex-direction: column;
}

section.bio {
    width: 100%;
    margin: 1rem 0 3rem 0;
    justify-content: center;
    align-items: center;
}

section.bio div.bio-container {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
}

section#myknowledge,
section#myprojects {
    width: 100%;
    margin: 2rem;
    align-items: center;

    flex-direction: column;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    border: 0.2rem solid #bbb;
}

header {
    width: 100%;
    background-color: #333333;
    box-shadow: 0rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
}

.nav-brand span {
    color: darkorchid;
}

header nav#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 75%;
    height: 8rem;
    margin: 0 auto;
    padding: 0rem 1rem;
}

header nav#navbar .nav-brand {
    display: flex;
    align-items: center;
    
    gap: 1rem;
}

header nav#navbar .nav-brand h1 {
    font-family: "Grenze", serif;
    font-size: 3.4rem;
    font-weight: 400;
}

header nav#navbar ul.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

header nav#navbar ul.nav-list li,
header nav#navbar ul.nav-list li  {
    position: relative;
    overflow: hidden;
    padding: 0.55rem 3rem;
}

header nav#navbar ul.nav-list li a,
header nav#navbar ul.nav-list li button {
    color: #ccc;
    font-size: 1.5rem;
    font-weight: bold;
}

header nav#navbar ul.nav-list li a:hover,
header nav#navbar ul.nav-list li button:hover {
    color: #fff;
    font-size: 1.6rem;
    transition: .3s;
}

.nav-list li:before {
    content: "";
    position: absolute;
    inset: calc(100% - 0.3rem) 0 0 0;
    background:aqua;
    scale: 0 1;
    transition: .3s, translate 0s .3s;
}

ul:hover li:before {
    scale: 1;
}

ul li:hover:before {
    translate: 0;
    transition: .3s;
}

ul:hover li:has(~ li:hover):before {
    translate: 100% 0;
    transition: .2s .2s, scale 0s .4s;
}

ul:hover li:hover ~ li:before {
    translate: -100% 0;
    transition: .2s .2s, scale 0s .4s;
}

img.portal {
    height: 7rem;
}

.knowledge-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
}

.label-menu,
.checkbox {
    display: none;
}

@media screen and (max-width: 61rem) {
    header nav#navbar {
        max-width: 75%;
        height: 6.5rem;
    }
    
    header nav#navbar .nav-brand h1 {
        font-size: 1.5rem;
    }

    header nav#navbar ul.nav-list li,
    header nav#navbar ul.nav-list li  {
        padding: 1rem 1.5rem;
        margin-inline: 1rem;
    }

    header nav#navbar ul.nav-list li a,
    header nav#navbar ul.nav-list li button {
        font-size: 1.2rem;
    }

    img.portal {
        display: none;
    }

    section.intro {
        margin: 3rem 0 0 0;
    }

    section.bio {
        margin: 0;
    }

    section.bio div.bio-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .nav-list {
        flex-direction: column;
    }

    .menu {
        display: block;
        position: absolute;
        top: 6.5rem;
        left: 0;
        background-color: #333333;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #fff;
        padding-block: 1rem;
        cursor: pointer;
    }

    .menu-icon {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked ~ .menu {
        height: calc(100vh - 6.5rem);
        visibility: visible;
        overflow-y: auto;
    }

    .checkbox:checked ~ .label-menu .menu-icon {
        border-top-color: transparent;
    }

    .checkbox:checked ~ .label-menu .menu-icon::before {
        transform: rotate(135deg);
    }

    .checkbox:checked ~ .label-menu .menu-icon::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
}

@media screen and (min-width: 61rem) and (max-width: 65rem) {
    header nav#navbar {
        max-width: 100%;
        height: 6.5rem;
        padding: 0 5rem;
    }
    
    header nav#navbar .nav-brand h1 {
        font-size: 2.6rem;
    }

    header nav#navbar ul.nav-list li,
    header nav#navbar ul.nav-list li  {
        padding: 0.55rem 1.5rem;
    }

    header nav#navbar ul.nav-list li a,
    header nav#navbar ul.nav-list li button {
        font-size: 1.4rem;
    }

    img.portal {
        height: 5rem;
    }

    section.intro {
        margin: 2rem 0 1rem 0;
    }

    section.bio div.bio-container {
        min-width: 75%;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 65rem) and (max-width: 80rem) {
    header nav#navbar {
        max-width: 75%;
        height: 7.2rem;
        padding: 0 1rem;
        justify-content: space-evenly;
    }
    
    header nav#navbar .nav-brand h1 {
        font-size: 2.5rem;
    }

    header nav#navbar ul.nav-list li,
    header nav#navbar ul.nav-list li  {
        padding: 0.55rem 2rem;
    }

    header nav#navbar ul.nav-list li a,
    header nav#navbar ul.nav-list li button {
        font-size: 1.3rem;
    }

    img.portal {
        height: 5rem;
    }

    section.intro {
        margin: 2rem;
    }

    section.bio {
        margin: 1rem 0 2rem 0;
    }

    section.bio div.bio-container {
        min-width: 65%;
        justify-content: space-around;
    }
}

@media screen and (min-width: 80rem) and (max-width: 128.125rem) {
    header nav#navbar {
        max-width: 100%;
        height: 7.2rem;
        justify-content: space-around;
        padding: 0 5rem;
    }
    
    header nav#navbar .nav-brand h1 {
        font-size: 3rem;
    }

    header nav#navbar ul.nav-list li,
    header nav#navbar ul.nav-list li  {
        padding: 0.55rem 2rem;
    }

    header nav#navbar ul.nav-list li a,
    header nav#navbar ul.nav-list li button {
        font-size: 1.4rem;
    }
    
    section.bio div.bio-container {
        min-width: 55%;
        justify-content: space-around;
    }

    header nav#navbar .nav-brand h1 {
        font-size: 2.8rem;
    }
}