.skills {
    width: 47rem;
    height: 42rem;
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 2rem;
}

.skills h2 {
    margin: 3rem;
    font-size: 2.4rem;
}

.skills li {
    margin: 0 5rem;
    padding: 0.9rem;
    font-size: 2rem;
    list-style: disc;
}

@media screen and (min-width: 25rem) and (max-width: 52rem) {

}

@media screen and (min-width: 52rem) and (max-width: 61rem) {
    .skills{
        width: 33rem;
        height: 35rem;
        margin-bottom: 3rem;
    }

    .skills h2 {
        margin: 2.5rem;
        font-size: 2rem;
    }

    .skills li {
        margin: 0 5rem;
        font-size: 1.55rem;
    }
}

@media screen and (min-width: 61rem) and (max-width: 65rem) {
    .skills{
        width: 40%;
        height: 35rem;
    }

    .skills h2 {
        margin: 2.5rem;
        font-size: 2rem;
    }

    .skills li {
        margin: 0 5rem;
        font-size: 1.55rem;
    }
}

@media screen and (min-width: 65rem) and (max-width: 80rem) {
    .skills{
        width: 30rem;
        height: 35.5rem;
    }

    .skills h2 {
        margin: 2.5rem;
        font-size: 2.2rem;
    }

    .skills li {
        margin: 0 5rem;
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 80rem) and (max-width: 128.125rem) {
    .skills{
        min-width: 33%;
        max-width: 42%;
        height: 35.5rem;
    }

    .skills h2 {
        margin: 2.5rem;
        font-size: 2.2rem;
    }

    .skills li {
        margin: 0 5rem;
        font-size: 1.6rem;
    }
}