header {
    width: 100%;
    background-color: #333333;
    box-shadow: 0rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
}

.nav-brand span {
    color: darkorchid;
}

header nav#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 75vw;
    height: 8rem;
    margin: 0 auto;
    padding: 0rem 2rem;
}

header nav#navbar .nav-brand {
    display: flex;
    align-items: center;
    
    gap: 1rem;
}

header nav#navbar .nav-brand h1 {
    font-family: "Grenze", serif;
    font-size: 3.4rem;
    font-weight: 400;
}

header nav#navbar ul.nav-list {
    display: flex;
    align-items: center;
    list-style: none;

    gap: 4rem;
}

header nav#navbar ul.nav-list li a {
    color: #ccc;
    font-size: 1.5rem;
}

header nav#navbar ul.nav-list li a:hover {
    color: aqua;
    transition: 0.3s ease-in-out;
    padding: 1rem;
}

img.portal {
    height: 7rem;
}