.experiences {
    width: 47rem;
    height: 42rem;
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 2rem;
}

.experiences h2 {
    margin: 3rem;
    font-size: 2.4rem;
}

.experiences h3 {
    margin: 0 3rem;
    font-size: 2rem;
}

.experience-container {
    margin: 2rem 3rem;
}

.experience {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.experience-container p {
    color: #8695a4;
    font-size: 1.4rem;
}

.bar {
    color: #fff;
}

.stone {
    color: lime;
}

.linx {
    color: blueviolet;
}

.cti {
    color: #3590C9;
}


@media screen and (max-width: 61rem) {
    .experiences {
        width: 33rem;
        height: 35rem;
        margin: 3rem;
    }

    .experiences h2 {
        margin: 2.5rem;
        font-size: 2rem;
    }

    .experiences h3 {
        margin: 0 2.5rem;
        font-size: 1.6rem;
    }

    .experience-container {
        margin: 1.5rem 2.5rem;
    }
    
    .experience {
        margin-top: 1.5rem;
        font-size: 1.4rem;
    }
    
    .experience-container p {
        font-size: 1.35rem;
    }
}

@media screen and (min-width: 61rem) and (max-width: 65rem) {
    .experiences {
        width: 40%;
        height: 35rem;
    }

    .experiences h2 {
        margin: 2.5rem;
        font-size: 2rem;
    }

    .experiences h3 {
        margin: 0 2.5rem;
        font-size: 1.6rem;
    }

    .experience-container {
        margin: 1.5rem 2.5rem;
    }
    
    .experience {
        margin-top: 1.5rem;
        font-size: 1.4rem;
    }
    
    .experience-container p {
        font-size: 1.35rem;
    }
}

@media screen and (min-width: 65rem) and (max-width: 80rem) {
    .experiences {
        width: 35rem;
        height: 35.5rem;
    }

    .experiences h2 {
        margin: 2.5rem;
        font-size: 2.2rem;
    }

    .experiences h3 {
        margin: 0 2.5rem;
        font-size: 1.8rem;
    }

    .experience-container {
        margin: 1.5rem 2.5rem;
    }
    
    .experience {
        margin-top: 1.5rem;
        font-size: 1.4rem;
    }
    
    .experience-container p {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 80rem) and (max-width: 128.125rem) {
    .experiences{
        min-width: 33%;
        max-width: 45%;
        height: 35.5rem;
    }

    .experiences h2 {
        margin: 2.5rem;
        font-size: 2.2rem;
    }

    .experiences h3 {
        margin: 0 2.5rem;
        font-size: 1.8rem;
    }

    .experience-container {
        margin: 1.5rem 2.5rem;
    }
    
    .experience {
        margin-top: 1.5rem;
        font-size: 1.4rem;
    }
    
    .experience-container p {
        font-size: 1.3rem;
    }
}